/* General Reset */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Promo Header */
.promo-header {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Main Navigation */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
}

.logo img {
    width: 100px;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin: 0 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Michroma", sans-serif;
}

.main-nav ul li a:hover {
    color: red;
}

.logofont {
    font-family: Impact;
    color: white;
    font-size: 24px;
}

/* Login Form */
.admin-settings {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}

.admin-settings .content-block {
    margin: 50px 10px 50px 10px;
    background-color: white;
    border-radius: 10px;
    min-height: 55vh;
}

.admin-settings #left-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    width: 20%;
    padding: 30px 0px 80px 0px;
    gap: 50px;
}

.admin-settings #account-info {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.admin-settings #account-info img {
    border-radius: 50%;
    border: transparent 0px;
    box-shadow: none;
}

.admin-settings #account-info h4 {
    padding: 0px 0px 0px 0px;
    font-size: large;
    font-weight: 500;
}

.admin-settings #account-settings {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    gap: 40px;
}

.admin-settings #account-settings a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}


.admin-settings #right-block {
    margin-right: 50px;
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.admin-settings #right-block #privacy-settings {
    margin: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.admin-settings #right-block #privacy-settings .labels{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: right;
    gap: 50px;
}

.admin-settings #right-block #privacy-settings .labels input{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    gap: 50px;
}

.admin-settings #right-block #privacy-settings .inputs{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 45px;
    margin-right: 280px;
}

.admin-settings #right-block #privacy-settings .inputs button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.admin-settings #right-block #submit_changes {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px black solid;
}

.admin-settings #right-block #submit_changes:hover {
    background-color: #adadad;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.footer-col h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col ul li a:hover {
    color: red;
}

.footer .icons i {
    color: #afb6c7;
    font-size: 24px;
    margin-right: 20px;
    }

.footer .icons i:hover {
    color: #f80000;
}
